img.icon {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #00af00;
  margin-right: 0px;
}

img.icontable {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(89, 89, 89);
  margin-right: 4px;
  vertical-align: middle;
}
