.MuiTableCellroot: {
      padding: 0px 16px 0px 16px;
      font-size: '0.875rem';
    }

.MuiTableCell-body: {
        font-size: '0.875rem',
      },

.MuiSelect-root: {
        color: '#fff'
      },

.MuiToolbar-regular: {
        min-height: '64px',
      }