.menBtn {
    width: 95%;
    margin-bottom: 27px;
    padding: 7px;
}


.headers {
    font-size: 32px;
    color: Whitesmoke;
    width: "280px";
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
    margin-bottom: 5px;

}

.test {
    background-color: green;
    margin-left: auto,
}


body {
    background-color: #353535;

}

.lego {
    border: 2px Solid black;
    display: inline-block;
    margin: 5px;
    width: 240px;
    height: 210px;
    background-color: goldenrod;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");


}