.dropdown {
     position: relative;
     display: inline-block;
}
  ul.DropDownUL {
     list-style-type: none;
     margin: 0;
     padding: 0;
     top:45px;
     left:0px;
     width: 250px;
     background-color: white;
     font-weight:bold;
     position: absolute;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     font-size: 12px;

}
 li.DropDownItem a {
     color: #000;
     text-decoration: none;
}
 li.DropDownItem {
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;
}
 li.DropDownItem:last-child {
     border-bottom: none;
}
 li.DropDownItem:hover {
     background-color: orange;
     color: white;
}

  ul.DropDownUL {
     list-style-type: none;
     margin: 0;
     padding: 0;
     top:45px;
     left:0px;
     width: 250px;
     background-color: white;
     font-weight:bold;
     position: absolute;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
     font-size: 12px;

}
 li.DropDownItem a {
     color: #000;
     text-decoration: none;
}
 li.DropDownItem {
     padding: 8px 16px;
     border-bottom: 1px solid #e5e5e5;
}
 li.DropDownItem:last-child {
     border-bottom: none;
}
 li.DropDownItem:hover {
     background-color: orange;
     color: white;
}

 .button{

     width:178px;
     height:18px;
     background-color: #419363 ;
     padding:12px;
     margin:12px;
     /*border-radius:5px;*/
     font-weight:bold;
     color:white;
     text-align: center;
     box-shadow: 0px 0px 1px 1px #1e1d1f;
     transition: 0.2s all;
}    
.button:hover {
     background-color: #316144;
     color: white;
  }

/*.DropDownItem {

  flex: 1;
  color: black;
   box-shadow: 0px 0px 1px 1px #1e1d1f;
  background-color: lightgrey;
  border-bottom: 1px solid grey;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: 0.2s all;
  &:hover {
    background-color: orange;
    color: white;
  }
  &:last-child {
    border-radius: 0px 0px 20px 20px;
  }
  }*/
