.qctile {
    width: 300px;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
    
    margin: 5px;
}

.qctile p {
    color: white;
}

.itemEntry {
    display: flex;
    align-content: center;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.itemList {
    display: inline-block;
    margin-top: 25px;
}

.qcDropdown {
    margin-right: 10px;
}
