.UserOutput {
	object-position: 50% 50%;
	width: 30%;
    padding: 2px;
    margin: 5px;
    border: 1px black;
    background-color: #3e3d40;
    text-align: left;
   /* border-radius: 20px 20px 20px 20px;*/
    font-weight: bold;
    color: #b9bbb7;
    box-shadow: 0px 0px 1px 1px #1e1d1f;
}

