.itemEntry {
  display: flex;
  align-content: center;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.itemList {
  display: inline-block;
  margin-top: 25px;
}

.qcDropdown {
  margin-right: 10px;
}
