.titleBox {
    display: block;
    margin: 2px;
    margin: auto;
    position: relative;
    text-align: left;
    height: 18%;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: black;
    padding: 0;
}

.titleBox img {
    position: absolute;
    right: 0px;
    top: 0px;
    max-height: 42px;
    width: auto;
}

.legodesc {
    font-size: 12px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 14px;
}

.legostats {
    font-size: 14px;
    margin-left: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.legodroploc {
    border-style: solid;
    border-width: 2px 0 0 0;
    text-align: center;
    padding: 0px;
    font-style: italic;
    font-size: 12px;


    
}

.lego {
    border: 2px Solid black;
    display: inline-block;
    margin: 5px;
    width: 300px;
    height: 200px;
    background-color: #DBA530;
    background-image: url("https://www.transparenttextures.com/patterns/crossword.png");


}