/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-shadow: 1px 1px 4px black;
}
