/* Container holding the image and the text */
.container-ItemCards {
  position: relative;
  text-align: center;
  color: white;
}
/* Bottom left text */
.bottom-left-ItemCards {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left-ItemCards {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right-ItemCards {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right-ItemCards {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 4px black;
}

/* Centered text */
.centered-ItemCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.et_pb_image.diagonal-overlay img {
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}
