.App {
  margin: 0px;
  border: 2px;

}
.App.special-bg {
  background-color: #282851; /* Replace with the color you want */
}
.App.default-bg {
  background-color: #313131;
}
body > #root > div {
  height: 100vh;
}