.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
	font-size: 0.8rem;
}

.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-13.MuiCheckbox-root.Component-root-10 {
	padding: 4px;
}

.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-7.MuiCheckbox-root.MuiCheckbox-colorSecondary.MuiIconButton-colorSecondary {
	padding: 4px;
}
.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-15.MuiCheckbox-root.MuiCheckbox-colorSecondary.MuiIconButton-colorSecondary {
	padding: 4px;
}